<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register an Account</title>
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="content">
            <h1>Register an Account</h1>
            <form class="account-form" id="registerForm">
                <div class="form-field">
                    <label for="fullName">Full Name</label><br>
                    <input id="fullNameRegistrationInput" name="fullName" type="text" placeholder="Full Name" required>
                </div>
                <div class="form-field">
                    <label for="email">Email</label><br>
                    <input id="emailRegistrationInput" name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <label for="pwd">Password</label><br>
                    <input id="passwordRegistrationInput" name="pwd" type="password" placeholder="Password" required>
                </div>
                <div class="form-field">
                    <label for="accountGroup">Account Type</label><br>  
                    <select name="accountGroup" id="accountGroup" required>
                        <option value="Student" selected>Student</option>
                        <option value="Tutor">Tutor</option>
                        <option value="Administrator">Administrator</option>
                    </select>
                </div>
                <div class="centered-button">
                    <button class="btn">Register Account</button>
                </div>
            </form>
            <p class="account-handling-status">Already have an account? Click <a href="/login">here</a> to login.</p>
        </div>
    </main>
</body>
</html>