<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="content">
            <h1><%= title %></h1>
            <%if (content.length) %> <% for (let data of content) { %>
                <h3><%= data.name %></h3>
            <% } %>
            <%if (content.length === 0) {%>
                Sorry we found no results for resources using this term.
            <% } %>
        </div>
    </main>
</body>
</html>